.table {
    border-spacing: 0 15px;
}

.table i {
    font-size: 1rem !important;
}

.table tr {
    border-radius: 20px;
}

.table tr td:nth-child(n + 5),
.table tr th:nth-child(n + 5) {
    border-radius: 0 0.625rem 0.625rem 0;
}

.table tr td:nth-child(1),
.table tr th:nth-child(1) {
    border-radius: 0.625rem 0 0 0.625rem;
}
