<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Restaurant at the End of the Universe - Staff</title>
    </head>
    <body>
        <div id="app">
            <div class="bg-gray-100 py-2 px-8 mb-4">
                <div class="flex flex-row my-6 content-center justify-between">
                    <p class="font-semibold text-xl">The Restaurant at the End of the Universe</p>
                    <p class="text-md">Don't panic and always carry a towel</p>
                </div>
            </div>
            <div class="container mx-auto">
              <router-view></router-view>
            </div>
        </div>

        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router@3.0.0/dist/vue-router.js"></script>

        <script type="text/javascript">
            const BASE_URL = 'http://localhost/';

            axios.defaults.baseURL = BASE_URL;

            const axiosClient = axios.create();

            class Order {
                constructor(orderId, tableId, orderItems) {
                    this.orderId = orderId;
                    this.tableId = tableId;
                    this.orderItems = orderItems;
                }

                toData() {
                    return {
                        'order_id': this.orderId,
                        'table_id': this.tableId,
                        'order_items': this.orderItems.map(i => i.toData())
                    };
                }

                static fromData(data) {
                    let items = [];
                    
                    if ('order_items' in data) {
                        items = data['order_items'].map(OrderItem.fromData);
                    }

                    return new Order(
                        data['order_id'],
                        data['table_id'],
                        items
                    );
                }

                static attachMenuItems(order, menuItems) {
                    let menuItemsMap = {};

                    menuItems.forEach((menuItem) => {
                        menuItemsMap[menuItem.itemId] = menuItem;
                    });
                    
                    order.orderItems.forEach((orderItem) => {
                        orderItem.menuItem = menuItemsMap[orderItem.itemId];
                    });
                }
            }

            class OrderItem {
                constructor(orderItemId, itemId, status) {
                    this.orderItemId = orderItemId;
                    this.itemId = itemId;
                    this.status = status;
                }

                toData() {
                    return {
                        'order_item_id': this.order_item_id,
                        'item_id': this.order_id,
                        'status': this.status
                    };
                }

                static fromData(data) {
                    return new OrderItem(
                        data['order_item_id'],
                        data['item_id'],
                        data['status']
                    );
                }
            }

            class MenuItem {
                constructor(itemId, itemTitle, itemPrice, itemDescription, itemType, itemImage) {
                    this.itemId = itemId;
                    this.itemTitle = itemTitle;
                    this.itemPrice = itemPrice;
                    this.itemDescription = itemDescription;
                    this.itemType = itemType;
                    this.itemImage = itemImage;
                }

                static fromData(data) {
                    return new MenuItem(
                        data.item_id,
                        data.item_title,
                        data.item_price,
                        data.item_description,
                        data.item_type,
                        data.item_image
                    );
                }
            }

            class UserService {

                constructor() {
                    this.isLoggedIn = false;
                }

                async login(username, role) {
                    try {
                        let response = await axiosClient.post('/api/login', {
                            username: username,
                            role: role
                        });

                        if (response.status == 200) {
                            this.isLoggedIn = true;
                            axiosClient.defaults.headers.common['Authorization'] = `Bearer ${response.data['bearer_token']}`;
                        } else {
                            this.isLoggedIn = false;
                            delete axiosClient.defaults.headers.common['Authorization'];
                        }
                        
                        return true;
                    } catch (err) {
                        console.log('Error while logging into system', err);
                        this.isLoggedIn = false;
                        delete axiosClient.defaults.headers.common['Authorization'];

                        return false;
                    }
                }                    
            }

            class MenuItemService {

                async fetchMenuItems() {
                    try {
                        const response = await axiosClient.get('/api/menu-items');
                        return response.data.map(MenuItem.fromData);
                    } catch (err) {
                        console.log('Error fetching menu items', err);
                    }
                }
            }

            class OrderService {

                async getUnfinishedOrders() {
                    try {
                        const response = await axiosClient.get('/api/orders?has_unfinished_items=true');
                        return response.data.map(Order.fromData);
                    } catch (err) {
                        console.log('There was an error fetching unfinished orders', err);
                        return [];
                    }
                }

                static filterByUnfinishedItemType(orders, type) {
                    return orders.filter((order) => {
                        return order.orderItems.some((orderItem) => {
                            return orderItem.menuItem.itemType == type && (orderItem.status == 'ordered' || orderItem.status == 'preparing');
                        });
                    });
                }

                static filterReadyToServe(orders, type) {
                    return orders.filter((order) => {
                        return order.orderItems.some((orderItem) => {
                            return orderItem.status == 'ready_to_serve';
                        });
                    });
                }
            }

            class OrderItemService {

                async markAsPreparing(orderItem) {
                    orderItem.status = 'preparing';
                    this.update(orderItem);
                }

                async markAsReadyToServe(orderItem) {
                    orderItem.status = 'ready_to_serve';
                    this.update(orderItem);
                }

                async markAsDelivered(orderItem) {
                    orderItem.status = 'delivered';
                    this.update(orderItem);
                }

                async update(orderItem) {
                    let response = await axiosClient.put(`/api/order-items/${orderItem.orderItemId}/${orderItem.itemId}`, { status: orderItem.status });
                }

                static appendMenuItem(orderItem, menuItemsMap) {
                    const menuItem = menuItemsMap[orderItem.itemId];
                    orderItem.menuItem = menuItem;

                    return orderItem;
                }
            }

            let userService = new UserService();
            let orderService = new OrderService();
            let orderItemService = new OrderItemService();
            let menuItemService = new MenuItemService();

            const LoginForm = {
                data: function() {
                    return {
                        username: this.username || null,
                        role: this.role || null,
                        loggedIn: false
                    };
                },
                template: `
                    <div class="flex flex-row space-x-4 items-center justify-center mt-10">
                        <div>
                            <label class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                            <input v-model="username" type="text" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" class="shadow appearance-none border rounded w-96 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                        </div>
                        <div>
                            <label class="block text-gray-700 text-sm font-bold mb-2">Role</label>
                            <select v-model="role" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5 cursor-pointer">
                                <option value="chef">Chef</option>
                                <option value="barman">Barman</option>
                                <option value="waiter">Waiter</option>
                            </select>
                        </div>
                        <div class="pt-6">
                            <button v-bind:disabled="loggedIn" v-on:click="login()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-green-700 rounded">Login</button>
                        </div>
                    </div>
                `,
                methods: {
                    login: function() {
                        if (!this.username || !this.role) return;

                        userService.login(this.username, this.role)
                        .then((success) => {
                            if (success) {
                                console.log('Successfully logged in.');
                                this.loggedIn = true;

                                this.$router.push(this.role);
                            } else {
                                console.log('Failed to log in.');
                                this.isLoggedIn = false;
                            }
                        });
                    }
                }
            };

            const Chef = {
                data() {
                    return { 
                        orders: [],
                        menuItems: {}
                    };
                },
                created() {
                    this.loadMenuItems().then(this.fetchUnfinishedOrders);

                    setInterval(this.fetchUnfinishedOrders, 5000);
                },
                template: `
                    <div>
                        <div>
                            <h2 class="my-4 text-xl font-semibold">The kitchen</h2>
                        </div>
                        <div v-if="orders" v-for="order in orders" class="mt-4 p-4 bg-gray-100 rounded">
                            <div class="text-md font-semibold italic mb-4">
                                Order in work ({{ order.orderId }})
                            </div>
                            <div>
                                <ul id="stock" class="space-y-4">
                                    <li v-for="orderItem in order.orderItems" v-if="orderItem.menuItem.itemType == 'food' && (orderItem.status === 'ordered' || orderItem.status === 'preparing')">
                                        <div class="flex flex-row space-x-4 items-center">
                                            <button v-if="orderItem.status === 'ordered'" v-on:click="markItemAsPreparing(orderItem)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-700 rounded">Start preparing</button>
                                            <button v-if="orderItem.status === 'preparing'" v-on:click="markItemAsReadyToServe(orderItem)" class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 border border-green-700 rounded">Prepared!</button>

                                            <p class="ml-8 titlecase">{{ orderItem.menuItem.itemTitle }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                `,
                methods: {
                    markItemAsPreparing(orderItem) {
                        orderItemService.markAsPreparing(orderItem);
                        this.fetchUnfinishedOrders();
                    },
                    markItemAsReadyToServe(orderItem) {
                        orderItemService.markAsReadyToServe(orderItem);
                        this.fetchUnfinishedOrders();
                    },
                    loadMenuItems() {
                        let p = new Promise((resolve, reject) => {
                            menuItemService.fetchMenuItems().then((menuItems) => {
                                this.menuItems = menuItems;
                                resolve(menuItems);
                            });
                        });

                        return p;
                    },
                    fetchUnfinishedOrders() {
                        orderService.getUnfinishedOrders().then((orders) => {
                            orders.forEach(o => Order.attachMenuItems(o, this.menuItems));
                            orders = OrderService.filterByUnfinishedItemType(orders, 'food');

                            this.orders = orders;
                            console.log('Unfinished order list refreshed.');
                        });
                    },
                }
            };

            const Barman = {
                data() {
                    return { 
                        orders: [],
                        menuItems: {}
                    };
                },
                created() {
                    this.loadMenuItems().then(this.fetchUnfinishedOrders);

                    setInterval(this.fetchUnfinishedOrders, 5000);
                },
                template: `
                    <div>
                        <div>
                            <h2 class="my-4 text-xl font-semibold">The bar</h2>
                        </div>
                        <div v-if="orders" v-for="order in orders" class="mt-4 p-4 bg-gray-100 rounded">
                            <div class="text-md font-semibold italic mb-4">
                                Order in work ({{ order.orderId }})
                            </div>
                            <div>
                                <ul id="stock" class="space-y-4">
                                    <li v-for="orderItem in order.orderItems" v-if="orderItem.menuItem.itemType == 'drink' && (orderItem.status === 'ordered' || orderItem.status === 'preparing')">
                                        <div class="flex flex-row space-x-4 items-center">
                                            <button v-if="orderItem.status === 'ordered'" v-on:click="markItemAsPreparing(orderItem)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 border border-blue-700 rounded">Start preparing</button>
                                            <button v-if="orderItem.status === 'preparing'" v-on:click="markItemAsReadyToServe(orderItem)" class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 border border-green-700 rounded">Prepared!</button>

                                            <p class="ml-8 titlecase">{{ orderItem.menuItem.itemTitle }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                `,
                methods: {
                    markItemAsPreparing(orderItem) {
                        orderItemService.markAsPreparing(orderItem);
                        this.fetchUnfinishedOrders();
                    },
                    markItemAsReadyToServe(orderItem) {
                        orderItemService.markAsReadyToServe(orderItem);
                        this.fetchUnfinishedOrders();
                    },
                    loadMenuItems() {
                        let p = new Promise((resolve, reject) => {
                            menuItemService.fetchMenuItems().then((menuItems) => {
                                this.menuItems = menuItems;
                                resolve(menuItems);
                            });
                        });

                        return p;
                    },
                    fetchUnfinishedOrders() {
                        orderService.getUnfinishedOrders().then((orders) => {
                            orders.forEach(o => Order.attachMenuItems(o, this.menuItems));
                            orders = OrderService.filterByUnfinishedItemType(orders, 'drink');

                            this.orders = orders;
                            console.log('Unfinished order list refreshed.');
                        });
                    },
                }
            };

            const Waiter = {
                data() {
                    return { 
                        orders: [],
                        menuItems: {}
                    };
                },
                created() {
                    this.loadMenuItems().then(this.fetchUnfinishedOrders);

                    setInterval(this.fetchUnfinishedOrders, 5000);
                },
                template: `
                    <div>
                        <div>
                            <h2 class="my-4 text-xl font-semibold">Waiter</h2>
                        </div>
                        <div v-if="orders" v-for="order in orders" class="mt-4 p-4 bg-gray-100 rounded">
                            <div class="text-md font-semibold italic mb-4">
                                Order in work ({{ order.orderId }})
                            </div>
                            <div>
                                <ul id="stock" class="space-y-4">
                                    <li v-for="orderItem in order.orderItems" v-if="orderItem.status === 'ready_to_serve'">
                                        <div class="flex flex-row space-x-4 items-center">
                                            <button v-on:click="markItemAsDelivered(orderItem)" class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 border border-green-700 rounded">Delivered</button>

                                            <p class="ml-8 titlecase">{{ orderItem.menuItem.itemTitle }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                `,
                methods: {
                    markItemAsDelivered(orderItem) {
                        orderItemService.markAsDelivered(orderItem);
                        this.fetchUnfinishedOrders();
                    },
                    loadMenuItems() {
                        let p = new Promise((resolve, reject) => {
                            menuItemService.fetchMenuItems().then((menuItems) => {
                                this.menuItems = menuItems;
                                resolve(menuItems);
                            });
                        });

                        return p;
                    },
                    fetchUnfinishedOrders() {
                        orderService.getUnfinishedOrders().then((orders) => {
                            orders.forEach(o => Order.attachMenuItems(o, this.menuItems));
                            orders = OrderService.filterReadyToServe(orders);

                            this.orders = orders;
                            console.log('Unfinished order list refreshed.');
                        });
                    },
                }
            };

            const routes = [
                { path: '/', component: LoginForm },
                { path: '/chef', component: Chef },
                { path: '/barman', component: Barman },
                { path: '/waiter', component: Waiter },
            ];

            const router = new VueRouter({ routes });

            app = new Vue({
                el: '#app',
                router
            });
        </script>
    </body>
</html>