<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Restaurant at the End of the Universe</title>
  </head>
  <body>
    <div id="app">
        <div class="bg-gray-100 py-2 px-8 mb-4">
            <div class="flex flex-row my-6 content-center justify-between">
                <p class="font-semibold text-2xl">The Restaurant at the End of the Universe</p>
                <p class="text-md hover:underline text-sky-500"><router-link to="/">So long, and thanks for all the fish!</router-link></p>
            </div>
        </div>
        <div class="container mx-auto">
          <router-view></router-view>
        </div>
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.0.0/dist/vue-router.js"></script>
    <script type="text/javascript">
        const BASE_URL = 'http://localhost/';

        axios.defaults.baseURL = BASE_URL;

        const axiosClient = axios.create();

        class MenuItemService {

            async fetchMenuItems() {
                try {
                    const response = await axiosClient.get('/api/menu-items');
                    return response.data.map(MenuItem.fromData);
                } catch (err) {
                    console.log('Error fetching menu items', err);
                }
            }
        }

        class OrderService {

            async getOrder(orderId) {
                try {
                    const response = await axiosClient.get(`/api/orders/${orderId}`);
                    return Order.fromData(response.data);
                } catch (err) {
                    console.log('There was an error an order', err);
                    return [];
                }
            }
        }

        class Order {
            constructor(orderId, tableId, orderItems) {
                this.orderId = orderId;
                this.tableId = tableId;
                this.orderItems = orderItems;
            }

            toData() {
                return {
                    'order_id': this.orderId,
                    'table_id': this.tableId,
                    'order_items': this.orderItems.map(i => i.toData())
                };
            }

            static fromData(data) {
                let items = [];
                
                if ('order_items' in data) {
                    items = data['order_items'].map(OrderItem.fromData);
                }

                return new Order(
                    data['order_id'],
                    data['table_id'],
                    items
                );
            }

            static attachMenuItems(order, menuItems) {
                let menuItemsMap = {};

                menuItems.forEach((menuItem) => {
                    menuItemsMap[menuItem.itemId] = menuItem;
                });
                
                order.orderItems.forEach((orderItem) => {
                    orderItem.menuItem = menuItemsMap[orderItem.itemId];
                });
            }
        }

        class OrderItem {
            constructor(orderItemId, itemId, status) {
                this.orderItemId = orderItemId;
                this.itemId = itemId;
                this.status = status;
            }

            toData() {
                return {
                    'order_item_id': this.order_item_id,
                    'item_id': this.order_id,
                    'status': this.status
                };
            }

            static fromData(data) {
                return new OrderItem(
                    data['order_item_id'],
                    data['item_id'],
                    data['status']
                );
            }
        }

        class MenuItem {
            constructor(itemId, itemTitle, itemPrice, itemDescription, itemType, itemImage) {
                this.itemId = itemId;
                this.itemTitle = itemTitle;
                this.itemPrice = itemPrice;
                this.itemDescription = itemDescription;
                this.itemType = itemType;
                this.itemImage = itemImage;
            }

            static fromData(data) {
                return new MenuItem(
                    data.item_id,
                    data.item_title,
                    data.item_price,
                    data.item_description,
                    data.item_type,
                    data.item_image
                );
            }
        }

        let menuItemService = new MenuItemService();
        let orderService = new OrderService();

        Vue.component('menu-item', {
            props: ['item'],
            data() {
                return {
                    qty: 1
                };
            },
            template: `
                <div class="border rounded-md">
                    <img v-bind:src="item.itemImage" class="rounded-t-md object-cover h-80 w-96">
                    <div class="p-2">
                        <h5 class="truncate text-center mb-4 mt-2 titlecase text-lg font-semibold">{{ item.itemTitle }}</h5>
                        <div class="flex flex-row space-x-4 items-center justify-center">
                            <input v-model="qty" type="number" class="rounded border p-2" min="1" max="10">
                            <div>
                                <button v-on:click="add()" type="button" class="bg-blue-400 border-blue-500 border hover:bg-blue-500 text-white font-bold py-2 px-4 rounded-full lowercase">Add</button>
                            </div>
                        </div>
                    </div>
                </div>    
            `,
            methods: {
                add() {
                    this.$emit('add', this.item, this.qty);
                    this.qty = 1;
                }
            }
        });

        const Quote = {
            data() {
                return {
                    menuItems: [],
                    cart: {}
                };
            },
            created() {
                this.loadMenuItems();
            },
            methods: {
                loadMenuItems() {
                    let p = new Promise((resolve, reject) => {
                        menuItemService.fetchMenuItems().then((menuItems) => {
                            this.menuItems = menuItems;
                            resolve(menuItems);
                        });
                    });

                    return p;
                },
                addToCart(menuItem, qty) {
                    let cartItem = this.cart[menuItem.itemId] || {menuItem: menuItem, qty: 0};
                    cartItem.qty += parseInt(qty);

                    this.$set(this.cart, menuItem.itemId, cartItem);
                },
                submit () {
                    let itemsPayload = Object.keys(this.cart).map((cartItemId) => {
                        return {
                            item_id: cartItemId,
                            quantity: this.cart[cartItemId].qty
                        };
                    });

                    axios.post('/api/orders', {
                        table_id: 'test-table',
                        items: itemsPayload
                    })
                    .then((response) => {
                        let order = Order.fromData(response.data);
                        this.$router.push({ path: `/order/${order.orderId}` });
                    });
                }
            },
            template: `
            <div class="space-y-8">
                <div class="grid grid-cols-4 gap-4">
                    <menu-item 
                        v-for="menuItem in menuItems" 
                        v-bind:key="menuItem.itemId"
                        v-bind:item="menuItem"
                        v-on:add="addToCart"
                    >
                    </menu-item>
                </div>
                <div class="space-y-2">
                    <h2 class="text-xl">Cart</h2>
                    <ul>
                        <li v-for="cartItem in cart" class="flex flex-col">
                            <div class="pl-4">
                                {{ cartItem.qty }} <span class="font-bold lowercase">x</span> <span class="titlecase">{{ cartItem.menuItem.itemTitle }}</span>
                            </div>
                        </li>
                    </ul>
                    <button v-if="Object.keys(cart).length > 0" v-on:click="submit()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 border border-green-700 rounded">Submit order</button>
                    <p v-if="Object.keys(cart).length == 0" class="text-gray-400">Your cart is empty.</p>
                </div>
            </div>
            `
        };

        const OrderStatus = {
            props: ['id'],
            data() {
                return {
                    menuItems: [],
                    order: null
                };
            },
            created() {
                menuItemService.fetchMenuItems().then((menuItems) => {
                    this.menuItems = menuItems;
                    this.loadOrder();
                    
                    setInterval(() => { 
                        this.loadOrder(); 
                    }, 5000);
                });
            },
            methods: {
                loadOrder() {
                    let order = orderService.getOrder(this.id).then((order) => {
                        Order.attachMenuItems(order, this.menuItems);
                        this.order = order;
                        console.log('Order loaded');
                    });
                }
            },
            template: `
                <div>
                    <h2 v-if="order" class="my-4 text-xl font-semibold italic">Order #{{ order.orderId }}</h2>

                    <div v-if="order" class="grid grid-cols-4 gap-4">
                        <div v-for="orderItem in order.orderItems" class="border rounded-md">
                            <img v-bind:src="orderItem.menuItem.itemImage" class="rounded-t-md object-cover h-80 w-96">
                            <div class="p-2 my-2 space-y-2">
                                <h5 class="truncate text-center titlecase text-lg font-semibold">{{ orderItem.menuItem.itemTitle }}</h5>
                                <div>
                                    <span v-if="orderItem.status === 'ordered'" class="px-4 py-2 rounded-full text-gray-500 bg-gray-200 font-semibold text-sm lowercase">Ordered</span>
                                    <span v-if="orderItem.status === 'preparing'" class="px-4 py-2 rounded-full text-blue-500 bg-blue-200 font-semibold text-sm lowercase">Preparing</span>
                                    <span v-if="orderItem.status === 'ready_to_serve'" class="px-4 py-2 rounded-full text-orange-500 bg-orange-200 font-semibold text-sm lowercase">Ready to serve</span>
                                    <span v-if="orderItem.status === 'delivered'" class="px-4 py-2 rounded-full text-green-500 bg-green-200 font-semibold text-sm lowercase">Delivered</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `
        };

        const routes = [
            { path: '/', component: Quote },
            { path: '/order/:id', component: OrderStatus, props: true },
        ];

        const router = new VueRouter({ routes });

        const app = new Vue({
            el: '#app',
            router
        });
    </script>
  </body>
</html>